<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh}" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
<!-- Nav -->
<div th:replace="~{fragments/general :: top}"/>

<!-- Header -->
<div class="p-5 text-center bg-image" style="background-image: url('/images/header.png'); height: 400px; margin-top: 58px;">

    <div class="d-flex justify-content-left align-items-left h-100" style="margin: 75px">
        <div class="text-white">
            <h1 class="mb-3"><strong>BEAUTY, MAKEUP</strong></h1>
            <h1 class="mb-3"><strong>& SKINCARE</strong></h1>
            <a class="btn btn-light btn-lg" th:href="@{'/appointments/new'}" role="button"><strong>BOOK APPOINTMENT</strong></a>
        </div>
    </div>
</div>


<!-- Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4"> <img th:src="@{'images/content.png'}" class="logo"  style="width:400px;height:auto; margin: 14px; opacity: 0.8; border-radius: 10px;"></div>
            <div class="col-md-8"><p class="text">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Vivamus convallis dapibus tortor. <br> Integer ut tellus ut sem vehicula fringilla ut vel tortor. <br> Sed vulputate nunc id pretium ultricies. Morbi nec elementum libero.</p></div>

        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/general :: bottom}"/>



</body>
</html>